.page.theme_light {
  --menu-color: rgba(53, 52, 48, 1);
    --ellement-rec-color: none;
    --rec: none;
    --corner-color: rgba(53, 52, 48, 1);
    --main-title-color: rgba(255, 194, 230, 1);
    --main-title-shadow-color: rgba(255, 0, 112, 1);
    --main-title-shadow-mobile:  rgba(255, 141, 203, 1);;
    --article-color: rgba(255, 141, 203, 1);
    --article-title-color: rgba(53, 52, 48, 1);
    --title-color: rgba(53, 52, 48, 1);
    --subtitle-background-color: rgba(255, 141, 203, 1);
    --subtitle-color: rgba(53, 52, 48, 1);
    --paragraph-color: rgba(53, 52, 48, 1);
    --link-shadow: rgba(255, 141, 203, 1);
    --cover-image: url(../images/cover-image-light.png) no-repeat center / cover;
  }

@media (prefers-color-scheme: light) {
  :root {
    --menu-color: rgba(53, 52, 48, 1);
    --ellement-rec-color: none;
    --rec: none;
    --corner-color: rgba(53, 52, 48, 1);
    --main-title-color: rgba(255, 194, 230, 1);
    --main-title-shadow-color: rgba(255, 0, 112, 1);
    --main-title-shadow-mobile: rgba(255, 141, 203, 1);
    --article-color: rgba(255, 141, 203, 1);
    --article-title-color: rgba(53, 52, 48, 1);
    --title-color: rgba(53, 52, 48, 1);
    --subtitle-background-color: rgba(255, 141, 203, 1);
    --subtitle-color: rgba(53, 52, 48, 1);
    --paragraph-color: rgba(53, 52, 48, 1);
    --link-shadow: rgba(255, 141, 203, 1);
    --cover-image: url(../images/cover-image-light.png) no-repeat center / cover;
  }

  .header__theme-menu-button {
    &:hover {
      outline: 1px solid rgba(50, 49, 45, 0.4);
    } 
  }
}

.theme_light {
  .header__theme-menu-button {
    &:hover {
      outline: 1px solid rgba(50, 49, 45, 0.4);
    } 
  }
  
  @media (width <= 768px) {
    .main-title {
      text-shadow: 4px 4px 0 var(--main-title-shadow-mobile);
    }
  }
}

@media (width <= 768px) {  
  .main-title {
    text-shadow: 4px 4px 0 var(--main-title-shadow-mobile);
  }
}